.element__size-button {
  font-weight: bold;
  width: 58px;
  height: 28px;
  border: none;
  border-radius: 2px;
  background: #EFF0F1;
  cursor: pointer;
  text-align: center;
}

@media screen and (max-width: 450px) {
  .element__size-button {
    width: 52px;
  }
}