.section-title_level_2 {
  font-weight: 900;
  font-size: 52px;
  letter-spacing: 1px;
}

@media screen and (max-width: 834px) {
  .section-title_level_2 {
    font-size: 40px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 450px) {
  .section-title_level_2 {
    font-size: 28px;
    line-height: 1.25;
  }
}