.element__title {
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 264px;
  margin: 20px 0 6px 0;
}

@media screen and (max-width: 834px) {
  .element__title {
    margin: 18px 0 4px 0;
  }
}

@media screen and (max-width: 650px) {
  .element__title {
    margin: 0;
  }
}