.lead__images-container {
  position: relative;
  right: 0%;
  top: 0;
  grid-area: picture;
}

@media screen and (max-width: 736px) {
  .lead__images-container {
    width: 100%;
    height: 300px;
  }
}

@media screen and (max-width: 450px) {
  .lead__images-container {
    height: 200px;
  }
}

