.delivery-info__card {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 2px 5px rgba(199, 193, 168, 0.3);
  padding: 32px 24px;
}

@media screen and (max-width: 1024px) {
  .delivery-info__card {
    flex-direction: column;
    padding: 25px 20px;
    align-items: flex-start;
  }
}

@media screen and (max-width: 600px) {
  .delivery-info__card {
    flex-direction: row;
    padding: 14px 16px;
    width: 85%;
  }
}