.card-grid__sort-button {
  margin: 0 40px 0 0;
  border: none;
  background-color: transparent;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}