.company-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 280px;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto 110px auto;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .company-info {
    padding: 0 16px;
  }
}

@media screen and (max-width: 1320px) {
  .company-info {
    padding: 0 32px 0 32px;
  }
}

@media screen and (max-width: 1280px) {
  .company-info {
    margin: 0 auto 110px auto;
  }
}

@media screen and (max-width: 678px) {
  .company-info {
    margin: 0 auto 70px auto;

  }
}

@media screen and (max-width: 320px) {
  .company-info {
    margin: 0 auto 60px auto;
  }
}