.promo {
  min-width: 280px;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  box-sizing: border-box;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

