.lead__title {
  margin: 0 0 12px 0;
}

@media screen and (max-width: 350px) {
  .lead__title {
    align-self: center;
  }
}

@media screen and (max-width: 319px) {
  .lead__title {
    align-self: center;
    font-size: 35px;
  }
}