.element__image {
  margin: 5px 0 0 10px;
  z-index: 2;
  position: relative;
  width: 155px;
  height: 155px;
}

@media screen and (max-width: 834px) {
  .element__image {
    width: 143px;
    height: 143px;
  }
}

@media screen and (max-width: 450px) {
  .element__image {
    width: 62px;
    height: 62px;
    margin: 2px 0 0 2px;
  }
}
