.element__button-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #EFF0F1;
  height: 32px;
  margin-bottom: 14px;
  width: 182px;
}

@media screen and (max-width: 834px) {
  .element__button-panel {
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 450px) {
  .element__button-panel {
    width: 164px;
    height: 32px;
  }
}