.element__description {
  text-align: center;
  max-width: 264px;
  margin: 0 0 8px 0;
  text-align: center;
}

@media screen and (max-width: 450px) {
  .element__description {
    text-align: start;
    margin: 0 0 4px 0;
  }
}