.promo-card {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border-radius: 5px;
  overflow: hidden;
}

@media screen and (max-width: 610px) {
  .promo-card {
    width: 100%;
  }
}

@media screen and (max-width: 610px) {
  .promo__container-wrap .promo-card:nth-of-type(n+2) {
    display: none;
  }
}