.element__background {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0;
  background: url(../../../images/Size.png);
  background-size: contain;
  border: 1px solid red;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 834px) {
  .element__background {
    width: 183px;
    height: 183px;
  }
}

@media screen and (max-width: 450px) {
  .element__background {
    width: 105px;
    height: 105px;
  }
}