.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 60px;
  position: relative;
}

.info:last-of-type {
  margin: 0;
}

@media screen and (max-width: 1360px) {
  .info {
    margin-right: 32px;
  }
}

@media screen and (max-width: 450px) {
  .info {
    margin-right: 16px;
  }
}

@media screen and (max-width: 319px) {
  .info {
    margin-right: 8px;
  }
}