.card-grid {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 280px;
  width: 100%;
  max-width: 1320px;
  margin: 110px auto 0 auto;
}

@media screen and (max-width: 834px) {
  .card-grid {
    margin-top: 80px;
  }
}

@media screen and (max-width: 450px) {
  .card-grid {
    margin-top: 60px;
  }
}