.element__order-button {
  background: #E52D2D;
  border-radius: 5px;
  width: 240px;
  height: 52px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  transition: 0.3s ease;
  margin-bottom: 40px;
}

.element__order-button:hover {
  background: #FF3C3C;
}

.element__order-button:focus {
  border: none;
  background: #E52D2D;
  border: 3px solid #8FC9FF;
}

.element__order-button:active {
  background: #BF221E;
}

.element__order-button:disabled {
  background: #DBDBDB;
  color: #DBDBDB;
}

@media screen and (max-width: 834px) {
  .element__order-button {
    width: 196px;
    height: 40px;
  }
}

@media screen and (max-width: 450px) {
  .element__order-button {
    width: 120px;
    height: 28px;
    margin-bottom: 24px;
  }
}