.card-grid__sort-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px;
}

@media screen and (max-width: 450px) {
  .card-grid__sort-panel {
    margin-bottom: 20px;
  }
}