.promo__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  column-gap: 32px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  border: 1px solid red;
  justify-content: center;
  justify-items: center;
}

@media screen and (max-width: 1320px) {
  .promo__container {
    padding: 0 32px;
  }
}

@media screen and (max-width: 834px) {
  .promo__container {
    column-gap: 16px;
  }
}


@media screen and (max-width: 610px) {
  .promo__container {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    column-gap: 0;
    align-items: center;
    padding: 0 16px;
  }
}