.elements-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(236px, 304px));
  grid-template-rows: repeat(auto-fit, 1fr);
  row-gap: 32px;
  column-gap: 32px;
  justify-content: center;
  justify-items: center;
  box-sizing: border-box;
  border: 1px solid red;
}

@media screen and (max-width: 1024px) {
  .elements-list {
    grid-template-columns: repeat(auto-fit, minmax(236px, 1fr));
    row-gap: 22px;
    column-gap: 22px;
    padding: 0 32px;
  }
}

@media screen and (max-width: 450px) {
  .elements-list {
    row-gap: 12px;
    column-gap: 12px;
  }
}

@media screen and (max-width: 320px) {
  .elements-list {
    padding: 0;
  }
}